[Unit]
Description=Initialize JustVoxel Web management
After=network-online.target firewalld.service
Wants=network-online.target firewalld.service
ConditionPathExists=!/var/lib/justvoxel/webui/initialized

[Service]
Type=oneshot
ExecStart=/usr/libexec/justvoxel/mjust/web bootstrap
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
